In [2]:
import pandas as pd
import numpy as np

In [3]:
subjects = ['E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']
task_list = ['task1','task2','task3','task4']

df_amplitude = pd.DataFrame()
df_risetime = pd.DataFrame()
df_recoverytime = pd.DataFrame()


for task in task_list:
    amplitude = []
    risetime = []
    recoverytime = []
    
    for subject in subjects:
        df_scr = pd.read_csv("../data/" + subject + "/SCR/" + task + "_modified.csv")


        if len(df_scr)==0:
            amplitude.append(0)
            risetime.append(0)
            recoverytime.append(0)
        else:
            amplitude.append(np.mean(df_scr['Amplitude'].values))
            risetime.append(np.mean(df_scr['RiseTime'].values))
            recoverytime.append(np.mean(df_scr['HalfRecoveryTime'].values))
        
    df_amplitude[task] = amplitude
    df_risetime[task] = risetime
    df_recoverytime[task] = recoverytime 

df_amplitude.index = subjects
df_risetime.index = subjects
df_recoverytime.index = subjects

In [4]:
df_amplitude

      task1     task2     task3     task4
E  0.011828  0.000000  0.000000  0.000000
F  0.000000  0.058675  0.127559  0.028433
G  0.000000  0.000000  0.000000  0.000000
H  0.012633  0.013916  0.243540  0.419342
I  0.011769  0.012345  0.013841  0.011308
J  0.000000  0.000000  0.017395  0.022192
K  0.039360  0.010723  0.090858  0.015131
L  0.000000  0.042329  0.071153  0.000000
M  0.000000  0.000000  0.018410  0.000000

In [5]:
df_risetime

      task1     task2     task3     task4
E  1.250000  0.000000  0.000000  0.000000
F  0.000000  2.416667  2.433333  2.562500
G  0.000000  0.000000  0.000000  0.000000
H  1.000000  1.083333  1.943396  2.851852
I  0.750000  0.642857  0.840909  0.785714
J  0.000000  0.000000  2.750000  0.750000
K  1.772727  0.750000  4.000000  1.250000
L  0.000000  3.416667  2.781250  0.000000
M  0.000000  0.000000  2.250000  0.000000

In [6]:
df_recoverytime

       task1     task2      task3      task4
E   0.500000  0.000000   0.000000   0.000000
F   0.000000  6.666667   1.166667   4.791667
G   0.000000  0.000000   0.000000   0.000000
H   0.500000  3.250000   1.863208   1.203704
I   0.681818  0.714286   1.022727   0.428571
J   0.000000  0.000000   3.250000   4.750000
K  41.340909  0.500000  31.477273  13.750000
L   0.000000  1.166667   3.437500   0.000000
M   0.000000  0.000000  11.250000   0.000000

In [7]:
df_amplitude.to_excel("../data/total/SCR_amplitude.xlsx")
df_risetime.to_excel("../data/total/SCR_risetime.xlsx")
df_recoverytime.to_excel("../data/total/SCR_recoverytime.xlsx")