In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math


subject_code = 'I'

df_RRI = pd.DataFrame()
df_RRI['reading1'] = pd.read_csv("../data/" + subject_code + "/RRI_reading1.csv")['RRI']
df_RRI['reading2'] = pd.read_csv("../data/" + subject_code + "/RRI_reading2.csv")['RRI']
df_RRI['u-kt1'] = pd.read_csv("../data/" + subject_code + "/RRI_u-kt1.csv")['RRI']
df_RRI['u-kt2'] = pd.read_csv("../data/" + subject_code + "/RRI_u-kt2.csv")['RRI']
df_RRI['task1'] = pd.read_csv("../data/" + subject_code + "/RRI_task1.csv")['RRI']
df_RRI['task2'] = pd.read_csv("../data/" + subject_code + "/RRI_task2.csv")['RRI']
df_RRI['task3'] = pd.read_csv("../data/" + subject_code + "/RRI_task3.csv")['RRI']
df_RRI['task4'] = pd.read_csv("../data/" + subject_code + "/RRI_task4.csv")['RRI']


df_base_params = pd.DataFrame()


df_RRI

,reading1,reading2,u-kt1,u-kt2,task1,task2,task3,task4
0,699.000000,861.000000,842.000000,855.000000,765.000000,848.000000,762.000000,732.000000
1,759.492467,880.472063,861.352604,845.327941,748.204072,860.522601,810.634303,750.109754
2,887.690052,883.010378,833.466671,857.753496,750.378593,897.487560,775.047924,745.088891
3,941.034950,864.323342,821.917229,844.057715,727.421159,863.563497,764.219629,752.415022
4,907.924113,842.938560,833.748879,827.956947,695.215396,861.364388,759.757710,777.270967
...,...,...,...,...,...,...,...,...
341,786.197238,712.326631,NaN,NaN,NaN,NaN,NaN,NaN
342,788.937401,734.054052,NaN,NaN,NaN,NaN,NaN,NaN
343,815.880508,703.903377,NaN,NaN,NaN,NaN,NaN,NaN
344,780.731493,766.272160,NaN,NaN,NaN,NaN,NaN,NaN
345,808.462565,802.443926,NaN,NaN,NaN,NaN,NaN,NaN

# 基準値の算出 #

## ○LP面積

In [3]:
from hrv import LP_cal

calc_window = 60
slide_window = 1
LPS_list = []
CSI_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    LPS = []
    CSI = []
    i = calc_window+30 #初めの30秒をカット
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        lps, csi = LP_cal(RRI.iloc[i-calc_window:i])
        LPS.append(lps)
        CSI.append(csi)
        i += slide_window
    LPS_list.append(sum(LPS)/len(LPS))
    CSI_list.append(sum(CSI)/len(CSI))
    
df_base_params['LPS'] = LPS_list
df_base_params['CSI'] = CSI_list
df_base_params.head()

           LPS       CSI
0  3381.174240  3.895988
1  1156.461561  4.431747
2  1538.784350  4.982209
3  1978.487513  3.563368
4  3431.635738  3.696267

## ○HR

In [4]:
from hrv import HR_cal
HR_list = []
for task in df_RRI.columns:
    i = 30
    RRI = df_RRI[task]
    HR = []
    while i<len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        HR.append(60000/RRI.iloc[i])
        i += 1  
    HR_list.append(sum(HR)/len(HR))
print(HR_list)
df_base_params['HR'] = HR_list
df_base_params

[76.07340963871137, 73.27866321105327, 81.99593233621584, 74.84353559495283, 80.69215079720911, 76.84850105480209, 78.31359935275205, 82.64164326100119]

           LPS       CSI         HR
0  3381.174240  3.895988  76.073410
1  1156.461561  4.431747  73.278663
2  1538.784350  4.982209  81.995932
3  1978.487513  3.563368  74.843536
4  3431.635738  3.696267  80.692151
5  3412.121100  4.238299  76.848501
6  3904.081633  4.769132  78.313599
7  1956.597382  3.894936  82.641643

## ○SDNN

In [5]:

calc_window = 60
slide_window = 1
SDNN_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    SDNN = []
    i = calc_window + 30
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        SDNN.append(np.std(RRI.iloc[i-calc_window:i]))
        i += slide_window
    SDNN_list.append(sum(SDNN)/len(SDNN))
df_base_params['SDNN'] = SDNN_list
df_base_params

           LPS       CSI         HR       SDNN
0  3381.174240  3.895988  76.073410  48.678899
1  1156.461561  4.431747  73.278663  29.932159
2  1538.784350  4.982209  81.995932  36.699778
3  1978.487513  3.563368  74.843536  35.197819
4  3431.635738  3.696267  80.692151  48.381287
5  3412.121100  4.238299  76.848501  50.389805
6  3904.081633  4.769132  78.313599  57.510373
7  1956.597382  3.894936  82.641643  37.298571

## ○pNN50

In [6]:

calc_window = 60
slide_window = 1
pNN50_list = []
RMSSD_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    pNN50 = []
    RMSSD = []
    diff = []
    i = calc_window + 30
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        pnncnt = 0
        rmssd = 0
        for j in range(i-calc_window, i-1):
            diff.append(RRI[j+1]-RRI[j])
            if abs(diff[-1])>=50:
                pnncnt += 1
            rmssd += diff[-1]**2          
        pNN50.append(pnncnt/calc_window)
        RMSSD.append(math.sqrt(rmssd/(calc_window-1)))
        i += slide_window
    pNN50_list.append(sum(pNN50)/len(pNN50))
    RMSSD_list.append(sum(RMSSD)/len(RMSSD))
df_base_params['pNN50'] = pNN50_list
df_base_params['RMSSD'] = RMSSD_list
df_base_params

           LPS       CSI         HR       SDNN     pNN50      RMSSD
0  3381.174240  3.895988  76.073410  48.678899  0.172005  38.317367
1  1156.461561  4.431747  73.278663  29.932159  0.041081  19.806841
2  1538.784350  4.982209  81.995932  36.699778  0.038341  23.047533
3  1978.487513  3.563368  74.843536  35.197819  0.093779  27.289765
4  3431.635738  3.696267  80.692151  48.381287  0.160656  37.876070
5  3412.121100  4.238299  76.848501  50.389805  0.105657  33.544139
6  3904.081633  4.769132  78.313599  57.510373  0.154545  35.656364
7  1956.597382  3.894936  82.641643  37.298571  0.057833  26.617912

## ○LF,HF,LF/HF

In [7]:
from hrv import psd_cal
from hrv import calc_LF_HF

HF_list = []
LF_list = []
LF_HF_list = []
for task in df_RRI.columns:
    RRI = []
    i = 0
    for rri in df_RRI[task]:
        if math.isnan(rri):
            break
        RRI.append(rri)
    P, freq = psd_cal(RRI)
    vlf, lf, hf = calc_LF_HF(P, freq)
    HF_list.append(hf)
    LF_list.append(lf)
    LF_HF_list.append(lf/hf)
df_base_params['HF'] = HF_list
df_base_params['LF'] = LF_list
df_base_params['LF/HF'] = LF_HF_list
df_base_params

/Users/sota/.pyenv/versions/anaconda3-2020.02/lib/python3.7/site-packages/statsmodels/tsa/ar_model.py:691: FutureWarning:
statsmodels.tsa.AR has been deprecated in favor of statsmodels.tsa.AutoReg and
statsmodels.tsa.SARIMAX.

AutoReg adds the ability to specify exogenous variables, include time trends,
and add seasonal dummies. The AutoReg API differs from AR since the model is
treated as immutable, and so the entire specification including the lag
length must be specified when creating the model. This change is too
substantial to incorporate into the existing AR api. The function
ar_select_order performs lag length selection for AutoReg models.

AutoReg only estimates parameters using conditional MLE (OLS). Use SARIMAX to
estimate ARX and related models using full MLE via the Kalman Filter.

To silence this warning and continue using AR until it is removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.ar_model.AR', FutureWarning)

  warnings.warn(AR_DEPRECATION_WARN, FutureWarning)

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
0,3381.174240,3.895988,76.073410,48.678899,0.172005,38.317367,199.848157,608.991618,3.047272
1,1156.461561,4.431747,73.278663,29.932159,0.041081,19.806841,44.920959,159.579065,3.552441
2,1538.784350,4.982209,81.995932,36.699778,0.038341,23.047533,68.094656,266.258882,3.910129
3,1978.487513,3.563368,74.843536,35.197819,0.093779,27.289765,98.156173,371.455093,3.784327
4,3431.635738,3.696267,80.692151,48.381287,0.160656,37.876070,252.436371,782.579626,3.100106
5,3412.121100,4.238299,76.848501,50.389805,0.105657,33.544139,102.679350,593.988860,5.784891
6,3904.081633,4.769132,78.313599,57.510373,0.154545,35.656364,144.166443,587.021877,4.071834
7,1956.597382,3.894936,82.641643,37.298571,0.057833,26.617912,118.420408,231.796742,1.957405

In [8]:
df_base_params.index = ['reading1', 'reading2', 'u-kt1', 'u-kt2', 'task1', 'task2', 'task3', 'task4']
df_base_params

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
reading1,3381.174240,3.895988,76.073410,48.678899,0.172005,38.317367,199.848157,608.991618,3.047272
reading2,1156.461561,4.431747,73.278663,29.932159,0.041081,19.806841,44.920959,159.579065,3.552441
u-kt1,1538.784350,4.982209,81.995932,36.699778,0.038341,23.047533,68.094656,266.258882,3.910129
u-kt2,1978.487513,3.563368,74.843536,35.197819,0.093779,27.289765,98.156173,371.455093,3.784327
task1,3431.635738,3.696267,80.692151,48.381287,0.160656,37.876070,252.436371,782.579626,3.100106
task2,3412.121100,4.238299,76.848501,50.389805,0.105657,33.544139,102.679350,593.988860,5.784891
task3,3904.081633,4.769132,78.313599,57.510373,0.154545,35.656364,144.166443,587.021877,4.071834
task4,1956.597382,3.894936,82.641643,37.298571,0.057833,26.617912,118.420408,231.796742,1.957405

In [10]:
reading = 'reading1'
ukt = 'u-kt1'

df_base = df_base_params.loc[[reading, ukt]]
df_base.index = ['reading', 'u-kt']
df_base.to_csv('../data/' + subject_code + '/base_params.csv')

# 正規化

In [11]:
reading_params = df_base_params.loc[reading]
ukt_params = df_base_params.loc[ukt]

task_name = ['task1', 'task2', 'task3', 'task4']
df_params = pd.DataFrame()
for param in df_base_params.columns:
    param_list = []
    for task in task_name:
        if param=='CSI' or param=='LF/HF':
            norm_param = (ukt_params[param]-df_base_params.loc[task][param])/(ukt_params[param]-reading_params[param])
        else:
            norm_param = (reading_params[param]-df_base_params.loc[task][param])/(reading_params[param]-ukt_params[param])
        param_list.append(norm_param)
    df_params[param] = param_list
df_params.index = ['task1', 'task2', 'task3', 'task4']
df_params

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
task1,-0.027389,1.183868,0.779860,0.024844,0.084910,0.028900,-0.399141,-0.506482,0.938768
task2,-0.016797,0.684861,0.130872,-0.142824,0.496377,0.312592,0.737505,0.043774,-2.172737
task3,-0.283820,0.196164,0.378249,-0.737239,0.130624,0.174265,0.422620,0.064102,-0.187407
task4,0.773222,1.000969,1.109026,0.950014,0.854170,0.766181,0.618031,1.100551,2.263090

In [12]:
df_params.to_csv('../data/' + subject_code + '/normalized_params.csv', index=None)