In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math


subject_code = 'E'

df_RRI = pd.DataFrame()
df_RRI['reading1'] = pd.read_csv("data/" + subject_code + "/RRI_reading1.csv")['RRI']
df_RRI['reading2'] = pd.read_csv("data/" + subject_code + "/RRI_reading2.csv")['RRI']
df_RRI['u-kt1'] = pd.read_csv("data/" + subject_code + "/RRI_u-kt1.csv")['RRI']
df_RRI['u-kt2'] = pd.read_csv("data/" + subject_code + "/RRI_u-kt2.csv")['RRI']
df_RRI['task1'] = pd.read_csv("data/" + subject_code + "/RRI_task1.csv")['RRI']
df_RRI['task2'] = pd.read_csv("data/" + subject_code + "/RRI_task2.csv")['RRI']
df_RRI['task3'] = pd.read_csv("data/" + subject_code + "/RRI_task3.csv")['RRI']
df_RRI['task4'] = pd.read_csv("data/" + subject_code + "/RRI_task4.csv")['RRI']


df_base_params = pd.DataFrame()


df_RRI

,reading1,reading2,u-kt1,u-kt2,task1,task2,task3,task4
0,996.000000,1011.000000,914.000000,941.000000,636.000000,795.000000,1015.000000,1010.000000
1,996.992600,1007.123805,934.030851,982.963126,659.299493,939.504325,962.868852,1001.001116
2,1001.030969,943.625628,828.989368,832.589407,615.997233,884.102615,1001.886935,1006.899652
3,1023.561614,830.763557,815.220707,805.875848,573.420418,961.507216,980.744927,978.614189
4,1026.051416,862.296711,904.051666,923.075651,669.677594,999.010706,880.474946,824.755972
...,...,...,...,...,...,...,...,...
337,992.846591,1045.127461,NaN,NaN,NaN,NaN,NaN,NaN
338,934.140519,1028.203909,NaN,NaN,NaN,NaN,NaN,NaN
339,937.611757,870.725717,NaN,NaN,NaN,NaN,NaN,NaN
340,958.855765,816.138997,NaN,NaN,NaN,NaN,NaN,NaN
341,975.612276,809.695369,NaN,NaN,NaN,NaN,NaN,NaN

# 基準値の算出 #

## ○LP面積

In [26]:
from hrv import LP_cal

calc_window = 60
slide_window = 1
LPS_list = []
CSI_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    LPS = []
    CSI = []
    i = calc_window+30 #初めの30秒をカット
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        lps, csi = LP_cal(RRI.iloc[i-calc_window:i])
        LPS.append(lps)
        CSI.append(csi)
        i += slide_window
    LPS_list.append(sum(LPS)/len(LPS))
    CSI_list.append(sum(CSI)/len(CSI))
    
df_base_params['LPS'] = LPS_list
df_base_params['CSI'] = CSI_list
df_base_params.head()

            LPS       CSI
0   5164.467201  3.551807
1  15911.819932  3.933987
2   3881.243763  3.077907
3   6249.079962  4.397389
4  29586.457422  2.497291

## ○HR

In [27]:
from hrv import HR_cal
HR_list = []
for task in df_RRI.columns:
    i = 30
    RRI = df_RRI[task]
    HR = []
    while i<len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        HR.append(60000/RRI.iloc[i])
        i += 1  
    HR_list.append(sum(HR)/len(HR))
print(HR_list)
df_base_params['HR'] = HR_list
df_base_params

[65.67901801625435, 65.46296652404442, 68.1273794052513, 66.97380708771014, 69.86296638810205, 66.72643488647336, 59.46075138232384, 60.69771683094266]

            LPS       CSI         HR
0   5164.467201  3.551807  65.679018
1  15911.819932  3.933987  65.462967
2   3881.243763  3.077907  68.127379
3   6249.079962  4.397389  66.973807
4  29586.457422  2.497291  69.862966
5   8557.975447  5.325946  66.726435
6   7386.874178  4.951303  59.460751
7  10346.636993  3.679447  60.697717

## ○SDNN

In [28]:

calc_window = 60
slide_window = 1
SDNN_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    SDNN = []
    i = calc_window + 30
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        SDNN.append(np.std(RRI.iloc[i-calc_window:i]))
        i += slide_window
    SDNN_list.append(sum(SDNN)/len(SDNN))
df_base_params['SDNN'] = SDNN_list
df_base_params

            LPS       CSI         HR        SDNN
0   5164.467201  3.551807  65.679018   58.938291
1  15911.819932  3.933987  65.462967  104.922705
2   3881.243763  3.077907  68.127379   47.354721
3   6249.079962  4.397389  66.973807   69.597560
4  29586.457422  2.497291  69.862966  102.411887
5   8557.975447  5.325946  66.726435   87.349147
6   7386.874178  4.951303  59.460751   77.304235
7  10346.636993  3.679447  60.697717   82.403989

## ○pNN50

In [29]:

calc_window = 60
slide_window = 1
pNN50_list = []
RMSSD_list = []

for task in df_RRI.columns:
    RRI = df_RRI[task]
    pNN50 = []
    RMSSD = []
    diff = []
    i = calc_window + 30
    while i < len(RRI):
        if math.isnan(RRI.iloc[i]):
            break
        pnncnt = 0
        rmssd = 0
        for j in range(i-calc_window, i-1):
            diff.append(RRI[j+1]-RRI[j])
            if abs(diff[-1])>=50:
                pnncnt += 1
            rmssd += diff[-1]**2          
        pNN50.append(pnncnt/calc_window)
        RMSSD.append(math.sqrt(rmssd/(calc_window-1)))
        i += slide_window
    pNN50_list.append(sum(pNN50)/len(pNN50))
    RMSSD_list.append(sum(RMSSD)/len(RMSSD))
df_base_params['pNN50'] = pNN50_list
df_base_params['RMSSD'] = RMSSD_list
df_base_params

            LPS       CSI         HR        SDNN     pNN50       RMSSD
0   5164.467201  3.551807  65.679018   58.938291  0.269444   49.479108
1  15911.819932  3.933987  65.462967  104.922705  0.411640   75.295895
2   3881.243763  3.077907  68.127379   47.354721  0.212143   43.719205
3   6249.079962  4.397389  66.973807   69.597560  0.263629   46.279512
4  29586.457422  2.497291  69.862966  102.411887  0.246121  106.362159
5   8557.975447  5.325946  66.726435   87.349147  0.262982   50.961607
6   7386.874178  4.951303  59.460751   77.304235  0.186964   44.579467
7  10346.636993  3.679447  60.697717   82.403989  0.346951   61.890235

## ○LF,HF,LF/HF

In [30]:
from hrv import psd_cal
from hrv import calc_LF_HF

HF_list = []
LF_list = []
LF_HF_list = []
for task in df_RRI.columns:
    RRI = []
    i = 0
    for rri in df_RRI[task]:
        if math.isnan(rri):
            break
        RRI.append(rri)
    P, freq = psd_cal(RRI)
    vlf, lf, hf = calc_LF_HF(P, freq)
    HF_list.append(hf)
    LF_list.append(lf)
    LF_HF_list.append(lf/hf)
df_base_params['HF'] = HF_list
df_base_params['LF'] = LF_list
df_base_params['LF/HF'] = LF_HF_list
df_base_params

C:\Users\admini\anaconda3\lib\site-packages\statsmodels\tsa\ar_model.py:691: FutureWarning:
statsmodels.tsa.AR has been deprecated in favor of statsmodels.tsa.AutoReg and
statsmodels.tsa.SARIMAX.

AutoReg adds the ability to specify exogenous variables, include time trends,
and add seasonal dummies. The AutoReg API differs from AR since the model is
treated as immutable, and so the entire specification including the lag
length must be specified when creating the model. This change is too
substantial to incorporate into the existing AR api. The function
ar_select_order performs lag length selection for AutoReg models.

AutoReg only estimates parameters using conditional MLE (OLS). Use SARIMAX to
estimate ARX and related models using full MLE via the Kalman Filter.

To silence this warning and continue using AR until it is removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.ar_model.AR', FutureWarning)

  warnings.warn(AR_DEPRECATION_WARN, FutureWarning)

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
0,5164.467201,3.551807,65.679018,58.938291,0.269444,49.479108,520.832423,906.857304,1.741169
1,15911.819932,3.933987,65.462967,104.922705,0.411640,75.295895,848.114869,2361.043265,2.783872
2,3881.243763,3.077907,68.127379,47.354721,0.212143,43.719205,473.017304,781.420677,1.651992
3,6249.079962,4.397389,66.973807,69.597560,0.263629,46.279512,278.914760,1246.891288,4.470510
4,29586.457422,2.497291,69.862966,102.411887,0.246121,106.362159,2838.907177,1794.607233,0.632147
5,8557.975447,5.325946,66.726435,87.349147,0.262982,50.961607,616.058869,1291.999093,2.097201
6,7386.874178,4.951303,59.460751,77.304235,0.186964,44.579467,368.101978,541.938812,1.472252
7,10346.636993,3.679447,60.697717,82.403989,0.346951,61.890235,1006.512273,1071.545991,1.064613

In [31]:
df_base_params.index = ['reading1', 'reading2', 'u-kt1', 'u-kt2', 'task1', 'task2', 'task3', 'task4']
df_base_params

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
reading1,5164.467201,3.551807,65.679018,58.938291,0.269444,49.479108,520.832423,906.857304,1.741169
reading2,15911.819932,3.933987,65.462967,104.922705,0.411640,75.295895,848.114869,2361.043265,2.783872
u-kt1,3881.243763,3.077907,68.127379,47.354721,0.212143,43.719205,473.017304,781.420677,1.651992
u-kt2,6249.079962,4.397389,66.973807,69.597560,0.263629,46.279512,278.914760,1246.891288,4.470510
task1,29586.457422,2.497291,69.862966,102.411887,0.246121,106.362159,2838.907177,1794.607233,0.632147
task2,8557.975447,5.325946,66.726435,87.349147,0.262982,50.961607,616.058869,1291.999093,2.097201
task3,7386.874178,4.951303,59.460751,77.304235,0.186964,44.579467,368.101978,541.938812,1.472252
task4,10346.636993,3.679447,60.697717,82.403989,0.346951,61.890235,1006.512273,1071.545991,1.064613

In [32]:
reading = 'reading2'
ukt = 'u-kt1'

df_base = df_base_params.loc[[reading, ukt]]
df_base.index = ['reading', 'u-kt']
df_base.to_csv('data/' + subject_code + '/base_params.csv')

# 正規化

In [33]:
reading_params = df_base_params.loc[reading]
ukt_params = df_base_params.loc[ukt]

task_name = ['task1', 'task2', 'task3', 'task4']
df_params = pd.DataFrame()
for param in df_base_params.columns:
    param_list = []
    for task in task_name:
        if param=='CSI' or param=='LF/HF':
            norm_param = (ukt_params[param]-df_base_params.loc[task][param])/(ukt_params[param]-reading_params[param])
        else:
            norm_param = (reading_params[param]-df_base_params.loc[task][param])/(reading_params[param]-ukt_params[param])
        param_list.append(norm_param)
    df_params[param] = param_list
df_params.index = ['task1', 'task2', 'task3', 'task4']
df_params

,LPS,CSI,HR,SDNN,pNN50,RMSSD,HF,LF,LF/HF
task1,-1.136657,-0.678226,1.651396,0.043615,0.829683,-0.983835,-5.307399,0.358589,-0.901018
task2,0.611263,2.625970,0.474201,0.305266,0.745162,0.770641,0.618655,0.676772,0.393336
task3,0.708607,2.188343,-2.252735,0.479754,1.126213,0.972756,1.279701,1.151607,-0.158798
task4,0.462587,0.702669,-1.788480,0.391167,0.324260,0.424543,-0.422283,0.816333,-0.518941

In [34]:
df_params.to_csv('data/' + subject_code + '/normalized_params.csv', index=None)